@model List<UserListItemVM>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>
<partial name="_Notification" />

<div class="container">
    <div class="row pt-4 pb-3 align-items-center">
        <div class="col">
            <h2 class="text-primary mb-0">User List</h2>
        </div>

        <div class="col-auto ms-auto text-end">
            <a asp-area="Admin"
               asp-controller="UserManagement"
               asp-action="Create"
               class="btn btn-primary">
                Create User
            </a>
        </div>
    </div>

    <table class="table table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>UserName</th>
                <th>Role</th>
                <th style="width: 160px;" class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var m in Model.OrderBy(m => m.Email))
            {
                <tr>
                    <td>@m.Email</td>
                    <td>@m.UserName</td>
                    <td>@m.RolesDisplay</td>

                    <td>
                        <div class="d-flex align-items-center">

                            <a asp-area="Admin"
                               asp-controller="UserManagement"
                               asp-action="Details"
                               asp-route-id="@m.Id"
                               class="btn btn-outline-primary btn-sm">
                                Details
                            </a>

                            <div class="ms-auto">
                                @if (!m.IsProtected)
                                {
                                    <form asp-area="Admin"
                                          asp-controller="UserManagement"
                                          asp-action="Delete"
                                          method="post"
                                          onsubmit="return confirm('Are you sure you want to delete this user?');"
                                          class="d-inline">
                                        @Html.AntiForgeryToken()

                                        <input type="hidden" name="userId" value="@m.Id" />

                                        <button type="submit" class="btn btn-outline-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                }
                            </div>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>